
  @media (max-width: 1050px) {
    aside{
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        display: none;
        margin: 0;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height:  4rem;
    }
    aside .top div.close span{
        display: inline;
        position: absolute;
        right: 0;
        margin-left: 30px;
        font-size: 35px;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.8rem;
        background: var(--clr-white);
        width: 100%;
        height: 4.6rem;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--box-shadow);
        margin: 0;
    }
    main{
        margin-top: 100px;
    }
    .right{
        width:0;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--clr-dark);
        position: absolute;
        left: 1rem;

    }
    .right .info p{
        margin-top:0 ;
    } 
    .right .info b{
        padding-top:20px ;
    } 
    .right .profile{
        position: absolute;
        right: 5%;
    }

}
@media (max-width: 719px) {
        main {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.6rem;
        margin-left: 0;        
    }
    main .insights{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.6rem;
        padding: 40px;
        min-width: 120%;
    }


    main .recent_order{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.6rem;
        padding: 40px;
        min-width: 120%;
    }
  
}
