@media (max-width: 1096px) {


    aside{
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        display: none;
    }
    aside .top div.close span{
        display: inline;
        position: absolute;
        right: 0;
        margin-left: 30px;
        font-size: 35px;
    }
    .ptable{
        width: 90%;
        margin: auto;
    }



    .rtop button{
        background-color: #f6f6f9;
        display: flex;
        position: fixed;        
        left: 20px;
        background-color: var(--clr-white);
    }

    
  }